<div class="section create">
    <% form_for(@list) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.text_field :name, :size => 20, :class => 'text' %>
        <%= f.submit 'Create', :class => 'submit' %>
      </p>
    <% end %>

</div>

<div class="section recent">

    <% if !@lists.nil? %>
    <h2>Recent</h2>
    <ul><%
        @lists.each do |list| %>
    	<li><%= link_to list.name, '/list/' + list.hash_id # TODO figure out how to generate this 
    	%></li><%
        end %>
    </ul>
    <% end %>

</div>